@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="hero page-inner overlay"
         style="background-image: url('/images/hero_bg_1.jpg')">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center mt-5">
                    <h1 class="heading" data-aos="fade-up">Danh Sách Tin Đăng</h1>

                    <nav aria-label="breadcrumb"
                         data-aos="fade-up"
                         data-aos-delay="200">
                        <ol class="breadcrumb text-center justify-content-center">
                            <li class="breadcrumb-item"><a href="~/Home/index">Home</a></li>
                            <li class="breadcrumb-item active text-white-50"
                                aria-current="page">
                                Danh Sách Tin Đăng
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    @*<div class="section">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-lg-6 text-center mx-auto">
                    <h2 class="font-weight-bold text-primary heading">
                        Bất động sản nổi bật
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="property-slider-wrap">
                        <div class="property-slider">

                            @foreach (var a in ViewBag.list)
                            {
                                <div class="property-item">
                                    <a href="~/Home/properties_detail?id=@a[0]&idNguoiDung=@a[6]" class="img">
                                        <img src="~/images/@a[11]" alt="Image" class="img-fluid" />
                                    </a>
                                    @{
                                        //Rút gọn số tiền
                                        decimal amount = Convert.ToDecimal(@a[3]);

                                        string formattedAmount;
                                        if (amount >= 1_000_000_000) // Nếu giá trị >= 1 tỷ
                                        {
                                            decimal billions = Math.Round(amount / 1_000_000_000, 1);
                                            formattedAmount = billions % 1 == 0 ? $"{billions:N0} tỷ" : $"{billions:N1} tỷ";
                                        }
                                        else if (amount >= 100_000_000) // Nếu giá trị >= 100 triệu
                                        {
                                            decimal hundredMillions = Math.Round(amount / 100_000_000, 1);
                                            formattedAmount = hundredMillions % 1 == 0 ? $"{hundredMillions:N0} trăm triệu" : $"{hundredMillions:N1} trăm triệu";
                                        }
                                        else if (amount >= 1_000_000) // Nếu giá trị >= 1 triệu
                                        {
                                            decimal millions = Math.Round(amount / 1_000_000, 1);
                                            formattedAmount = millions % 1 == 0 ? $"{millions:N0} triệu" : $"{millions:N1} triệu";
                                        }
                                        else
                                        {
                                            formattedAmount = $"{amount:N0} VNĐ";
                                        }
                                    }
                                    @{
                                        //Giới hạn mô tả
                                        string text = @a[2].ToString();
                                        int maxLength = 45; // Độ dài tối đa mong muốn

                                        // Kiểm tra độ dài và cắt chuỗi nếu cần
                                        string truncatedText = text.Length > maxLength
                                            ? text.Substring(0, maxLength) + "..."
                                            : text;
                                    }
                                    @{
                                        //Giới hạn tieude
                                        string name = @a[1].ToString();
                                        int maxLengthName = 25; // Độ dài tối đa mong muốn

                                        // Kiểm tra độ dài và cắt chuỗi nếu cần
                                        string NameTex = name.Length > maxLengthName
                                            ? name.Substring(0, maxLengthName) + "..."
                                            : name;
                                    }
                                    @{
                                        //Giới hạn vitri
                                        string vitri = @a[5].ToString();
                                        int maxLengthViTri = 43; // Độ dài tối đa mong muốn

                                        // Kiểm tra độ dài và cắt chuỗi nếu cần
                                        string VitriText = vitri.Length > maxLengthViTri
                                            ? vitri.Substring(0, maxLengthViTri) + "..."
                                            : vitri;
                                    }
                                    <div class="property-content">
                                        <div class="price mb-2"><span>@formattedAmount</span></div>
                                        <div>
                                            <span class="d-block mb-2 text-black-50">@truncatedText</span>
                                            <span class="city d-block mb-3">@NameTex</span>

                                            <div class="specs d-flex mb-4">
                                                <span class="d-block d-flex align-items-center me-3">
                                                    <span class="caption">@VitriText</span>
                                                </span>
                                                <span class="d-block d-flex align-items-center">
                                                    <span class="icon-bath me-2"></span>
                                                    <span class="caption">2 baths</span>
                                                </span>
                                            </div>

                                            <a href="~/Home/properties_detail?id=@a[0]&idNguoiDung=@a[6]"
                                               class="btn btn-primary py-2 px-3">Xem Chi Tiết</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                        <div id="property-nav"
                             class="controls"
                             tabindex="0"
                             aria-label="Carousel Navigation">
                            <span class="prev"
                                  data-controls="prev"
                                  aria-controls="property"
                                  tabindex="-1">Prev</span>
                            <span class="next"
                                  data-controls="next"
                                  aria-controls="property"
                                  tabindex="-1">Next</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="section section-properties">
        <div class="container">
            <div class="row">
                @foreach (var a in ViewBag.list)
                {
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">



                        <div class="property-item mb-30">
                            <a href="~/Home/properties_detail?id=@a[0]&idNguoiDung=@a[6]" class="img">
                                <img src="~/images/@a[11]" alt="Image" class="img-fluid" style=" height: 300px"  />
                            </a>
                            @{
                                //Rút gọn số tiền
                                decimal amount = Convert.ToDecimal(@a[3]);

                                string formattedAmount;
                                if (amount >= 1_000_000_000) // Nếu giá trị >= 1 tỷ
                                {
                                    decimal billions = Math.Round(amount / 1_000_000_000, 1);
                                    formattedAmount = billions % 1 == 0 ? $"{billions:N0} tỷ" : $"{billions:N1} tỷ";
                                }
                                else if (amount >= 100_000_000) // Nếu giá trị >= 100 triệu
                                {
                                    decimal hundredMillions = Math.Round(amount / 100_000_000, 1);
                                    formattedAmount = hundredMillions % 1 == 0 ? $"{hundredMillions:N0} trăm triệu" : $"{hundredMillions:N1} trăm triệu";
                                }
                                else if (amount >= 1_000_000) // Nếu giá trị >= 1 triệu
                                {
                                    decimal millions = Math.Round(amount / 1_000_000, 1);
                                    formattedAmount = millions % 1 == 0 ? $"{millions:N0} triệu" : $"{millions:N1} triệu";
                                }
                                else
                                {
                                    formattedAmount = $"{amount:N0} VNĐ";
                                }
                            }
                            @{
                                //Giới hạn mô tả
                                string text = @a[2].ToString();
                                int maxLength = 45; // Độ dài tối đa mong muốn

                                // Kiểm tra độ dài và cắt chuỗi nếu cần
                                string truncatedText = text.Length > maxLength
                                    ? text.Substring(0, maxLength) + "..."
                                    : text;
                            }
                            @{
                                //Giới hạn tieude
                                string name = @a[1].ToString();
                                int maxLengthName = 25; // Độ dài tối đa mong muốn

                                // Kiểm tra độ dài và cắt chuỗi nếu cần
                                string NameTex = name.Length > maxLengthName
                                    ? name.Substring(0, maxLengthName) + "..."
                                    : name;
                            }
                            @{
                                //Giới hạn vitri
                                string vitri = @a[5].ToString();
                                int maxLengthViTri = 43; // Độ dài tối đa mong muốn

                                // Kiểm tra độ dài và cắt chuỗi nếu cần
                                string VitriText = vitri.Length > maxLengthViTri
                                    ? vitri.Substring(0, maxLengthViTri) + "..."
                                    : vitri;
                            }
                            <div class="property-content">
                                <div class="price mb-2"><span>@formattedAmount</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">@truncatedText</span>
                                    <span class="city d-block mb-3">@NameTex</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="caption">@VitriText</span>
                                        </span>
                                    </div>

                                    <a href="~/Home/properties_detail?id=@a[0]&idNguoiDung=@a[6]"
                                       class="btn btn-primary py-2 px-3">Xem Chi Tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row align-items-center py-5">
                <div class="col-lg-3">Pagination (1 of 10)</div>
                <div class="col-lg-6 text-center">
                    <div class="custom-pagination">
                        <a href="#"class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
