@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="hero page-inner overlay"
     style="background-image: url('/images/hero_bg_3.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">
                    @ViewBag.list[0][1]
                </h1>

                <nav aria-label="breadcrumb"
                     data-aos="fade-up"
                     data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="~/Home/index">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="~/Home/Properties">Properties</a>
                        </li>
                        <li class="breadcrumb-item active text-white-50"
                            aria-current="page">
                            @ViewBag.list[0][1]
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                        <img src="~/images/@ViewBag.list[0][11]" alt="Image" class="img-fluid" style=" height: 700px" />
                       @* <img src="~/images/img_2.jpg" alt="Image" class="img-fluid" />
                        <img src="~/images/img_3.jpg" alt="Image" class="img-fluid" />*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="heading text-primary"> @ViewBag.list[0][1]</h2>
                <p class="meta">Khu vực: @ViewBag.list[0][5]</p>
                <p class="text-black-50">
                    Diện tích: @ViewBag.list[0][4] m <br />
                    Loại Bất động sản: @ViewBag.list[0][8] <br />
                    Tình trạng pháp lý: @ViewBag.list[0][10] <br />
                    Trạng thái: @ViewBag.list[0][7] <br />
                </p>

                @{
                    // Giả sử giá trị từ ViewBag là số thập phân
                    decimal amount = Convert.ToDecimal(ViewBag.list[0][3]);
                    string formattedAmount = String.Format("{0:N0} VNĐ", amount);
                }

                <h3 class="text-primary">@formattedAmount</h3>


                <p class="text-black-50 text-wrap " style="word-break: break-all; white-space: pre-line;">
                    Thông tin mô tả: <br /> </p>
                <p class="text-wrap " style="word-break: break-all; white-space: pre-line; padding: 10px; border: 1px solid; border-radius: 10px; color: black; word-wrap: break-word ">
                    @Html.Raw(ViewBag.list[0][2].ToString().Replace("\n", "<br/>"))\
                <p/>
                @if (Session["taikhoan"] != null)
                {
                    System.Collections.ArrayList tenDaDangNhap = (System.Collections.ArrayList)Session["taikhoan"];
                    if (ViewBag.listKiemTraYeuThich != null && ViewBag.listKiemTraYeuThich.Count > 0)
                    {
                        <form action="@Url.Action("HuyYeuThichTin", "Home")" method="post">
                            <input type="hidden" name="idchubds" value="@ViewBag.list[0][6]" />
                            <input type="hidden" name="id" value="@ViewBag.listKiemTraYeuThich[0][0]" />
                            <input type="hidden" name="idbatdongsan" value="@ViewBag.list[0][0]" />
                            <button type="submit" class="btn btn-outline-primary bi bi-heart"
                                    style="border: 1px #005555 solid !important; gap: 5px; color: #ffffff; background-color: #005555;">
                                Đã Yêu Thích
                            </button>
                        </form>
                    }
                    else
                    {
                        <form action="@Url.Action("YeuTichTin", "Home")" method="post">
                            <input type="hidden" name="id" value="@tenDaDangNhap[0]" />
                            <input type="hidden" name="idchubds" value="@ViewBag.list[0][6]" />
                            <input type="hidden" name="idbatdongsan" value="@ViewBag.list[0][0]" />
                            <button type="submit" class="btn btn-outline-primary bi bi-heart"
                                    style="border: 1px #005555 solid !important; gap:5px;">
                                Yêu thích
                            </button>
                        </form>

                    }


                }
                @*<style>
            /* CSS cho trạng thái bình thường */
            .btn-outline-primary {
                color: #005555;
            }

            /* CSS cho trạng thái đã chọn */
            .liked {
                color: #ffffff;
                background-color: #005555;
                border: 1px #005555 solid !important;
            }
        </style>
        <script>
            // JavaScript để thay đổi trạng thái nút sau khi nhấn
            document.getElementById("likeButton").addEventListener("click", function (event) {
                event.preventDefault(); // Ngăn chặn gửi form hoặc thực hiện các hành động mặc định

                // Thêm hoặc gỡ bỏ lớp "liked" để thay đổi giao diện
                this.classList.toggle("liked");

                // Cập nhật nội dung nút thành "Đã yêu thích"
                if (this.classList.contains("liked")) {
                    this.innerHTML = " Đã yêu thích";
                } else {
                    this.innerHTML = " Yêu thích";
                }

                // (Tùy chọn) Thực hiện thêm mã gửi yêu cầu POST để lưu trạng thái yêu thích vào cơ sở dữ liệu.
            });
        </script>*@

                <div class="d-block agent-box p-5">
                    <div class="img mb-4">
                        @if (ViewBag.listUser != null && ViewBag.listUser.Count > 0 && ViewBag.listUser[0].Count > 6)
                        {
                            if (ViewBag.listUser[0][6] != null && ViewBag.listUser[0][6].ToString().Length > 0)
                            {
                                <img src="~/images/@ViewBag.listUser[0][6]"
                                     alt="Image"
                                     class="img-fluid" />
                            }
                            else
                            {
                                <img src="~/images/person_2-min.jpg"
                                     alt="Image"
                                     class="img-fluid" />
                            }
                        }
                        else
                        {
                            <img src="~/images/person_2-min.jpg"
                                 alt="Image"
                                 class="img-fluid" />
                        }
                        @* @if (@ViewBag.listUser[0][6] != null && @ViewBag.listUser[0][6].ToString().Length > 0)
                {
                    <img src="~/images/@ViewBag.listUser[0][6]"
                         alt="Image"
                         class="img-fluid" />
                }
                else
                {
                    <img src="~/images/person_2-min.jpg"
                         alt="Image"
                         class="img-fluid" />
                }*@

                    </div>

                    <div class="text">
                        <h3 class="mb-0">@ViewBag.listUser[0][1]</h3>
                        <div class="meta mb-3">@ViewBag.listUser[0][5]</div>
                        <p>
                            Số điện thoại liên lạc: <a href="tel:@ViewBag.listUser[0][4]"> @ViewBag.listUser[0][4]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Contact</h3>
                    <address>43 Raymouth Rd. Baltemoer, London 3910</address>
                    <ul class="list-unstyled links">
                        <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
                        <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
                        <li>
                            <a href="mailto:info@mydomain.com">info@mydomain.com</a>
                        </li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Sources</h3>
                    <ul class="list-unstyled float-start links">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Vision</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                    <ul class="list-unstyled float-start links">
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Creative</a></li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Links</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Our Vision</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>

                    <ul class="list-unstyled social">
                        <li>
                            <a href="#"><span class="icon-instagram"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-linkedin"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-pinterest"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-dribbble"></span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
                <!--
                  **==========
                  NOTE:
                  Please don't remove this copyright link unless you buy the license here https://untree.co/license/
                  **==========
                -->

                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    . All Rights Reserved. &mdash; Designed with love by
                    <a href="https://untree.co">Untree.co</a>
                    <!-- License information: https://untree.co/license/ -->
                </p>
                <div>
                    Distributed by
                    <a href="https://themewagon.com/" target="_blank">themewagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.site-footer -->
<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>